.idea/
build/
cmake-build-debug/
src/CMakeFiles/
CMakeFiles/

.cmake/api/v1/query/

.cmake/api/v1/reply/

a.out

*.o

cmake_install.cmake

CMakeCache.txt

main

main.cbp

Makefile

Testing/Temporary/LastTest.log
